<div class="container-fluid">
    <div class="row justify-content-around bg-light">

        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "estimation.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">L’estimation de votre bien</h5>
                <p class="card-text">L’estimation du loyer 
                    consiste à trouver le montant adéquat pour
                    ne pas décourager les clients et permettre à votre bien de trouver un
                    locataire rapidement et garder un revenu optimal.
                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "redaction.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">La rédaction et la diffusion de l’annonce</h5>
                <p class="card-text">REA fait appel à des photographes professionnels 
                    pour réaliser
                    un reportage photo/vidéo de votre bien afin de le présenter sous son 
                    meilleur angle.
                    L’annonce sera ensuite mise en ligne sur notre 
                    site et sur les réseaux sociaux.
                    Nous enverrons aussi une notification aux 
                    clients potentiellement intéressés par votre bien.
                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "administration.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">L’assistance juridique et administrative </h5>
                <p class="card-text">
                    Une fois un locataire trouvé, nous vous offrons une 
                    assistance dans la collecte des dossiers du locataire 
                    et la rédaction du contrat de bail.   
                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">L’installation du locataire</h5>
                <p class="card-text">
                    Lors de l’installation du locataire, 
                    REA peut effectuer un état des lieux 
                    et un inventaire de votre bien.  
                </p>
            </div>
        </div>        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "homestaging.jpg" , class:"card-img-top" ,alt:"Card image cap"%>

                <%image_tag ".jpg",class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">Le home staging</h5>
                <p class="card-text ">
                    Suite à l’état des lieux, REA peut vous proposer quelques 
                    travaux ou réhabilitation à faire 
                    pour maximiser le loyer de votre bien. 
                    Un investissement rentable sur le long terme.
                </p>
            </div>
        </div>
        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">La vérification des profils et la visite</h5>
                <p class="card-text"></p>
                    Pour les clients sérieux, nous 
                    effectuons la visite de votre bien, 
                    même le week-end.
            </div>
        </div>
        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">La gestion Locative*</h5>
                <p class="card-text">
                    La prestation de gestion locative comprend :
                    <ul>
                        <li>La tenue des comptes locatifs</li>
                        <li>L’élaboration de rapport de gestion trimestrielle</li>
                        <li>Les recouvrements et le suivi des échéances</li>
                        <li>L’entretien des biens loués</li>
                        <li>Le renouvellement des baux</li>
                        <li>L’état des lieux lors de la sortie du locataire</li>
                        <li>La recherche de nouveaux locataires</li>
                    </ul> 
                </p>
            </div>
        </div>
        

    </div>
<p class="text-secondary">* La gestion locative est un service 
    à part proposé aux propriétaires de bien à louer, 
    une fois un locataire trouvé pour son bien.
</p>
</div>