<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message de <%=@nom%></h1>
    <p>
      <%=@message%>
    </p>

    <p>Message envoyé depuis le mail:  <a href=<%=@email%> ><%=@email%> </a> </p>
    <p>" Rea ,le partenaire qui est là "</p>
  </body>
</html>