<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2>Message de <%=@nom%> </h2><br><br>

    <blockquote cite="http://www.worldwildlife.org/who/index.html">
        <%=@message%>
    </blockquote><br><br>

    <p>Message envoyé depuis le mail: <br>
        <span style="color:blue;font-weight:bold">
            <%= mail_to @email , @email %>
        </span>
    </p>
</body>

</html>