<style>
.jumbotron
{
  height: 500px;
  width: 100%;
  background-image: url('/assets/ReaJumbo.png');

  margin-top: 1cm;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<div class="jumbotron jumbotron-fluid text-center" id="jumbo">

	<div class="container justify-content-center ">
            <h1 class="display-5 text-white">Contactez nous !</h1>
            <span class="align-middle">
                <a class="btn btn-primary btn-lg " href="#" role="button">Facebook</a>
            </span>

            <a class="btn btn-secondary btn-lg" href="#" role="button">
                            Telephone
            </a>
	</div>

</div>
